<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Geocoder</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/geocoder.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon" href="assets/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/bootstrap-apple-114x114.png">
</head>

<body>

<div class="topbar" data-scrollspy="scrollspy" data-dropdown="dropdown">
    <div class="topbar-inner">
        <div class="container">
            <a class="brand" href="#">Geocoder</a>

            <form class="pull-left">
                <input type="text" id="q" placeholder="IP or Address">
            </form>

            <ul class="nav">
                <li><a id="ip" data-ip="{{ ip }}" href="">Your IP</a></li>
                <li><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Clear</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Markers</a></li>
                        <li><a href="#">Bounds</a></li>
                        <li class="divider"></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>

{% block content %}{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/gmap3.js"></script>
<script src="/js/geocoder.js"></script>

</body>
</html>